<header>
  <app-header></app-header>
</header>

<app-menu-title></app-menu-title>

<div class="news-container">
  <div class="main-news">
    <app-main-card
      photoUrl="https://rollingstone.com.br/media/_versions/2024/07/whatsapp-image-2024-07-26-at-153424_widelg.jpeg"
      cardInfo="July 23, 2020"
      cardTitle="Folklore Album Announcement"
      cardDescription="'Surprise 🤗 Tonight at midnight I’ll be releasing my 8th studio album, folklore; an entire brand new album of songs I’ve poured all of my whims, dreams, fears, and musings into.'"
    ></app-main-card>
  </div>
  <div class="secondary-news">
    <app-secondary-card
      photoUrl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZoiS6_-sxwQ5Osp7XemYYI4yRCa8-7CZm-g&s"
      cardInfo="December 10, 2020"
      cardTitle="Evermore"
    ></app-secondary-card>
    <app-secondary-card
      photoUrl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTm7n-wUOzlJlkQ0UoN7-vxDLV71I727koBtg&s"
      cardInfo="February 12, 2015"
      cardTitle="How Big, How Blue, How Beautiful"
    ></app-secondary-card>
    <app-secondary-card
      photoUrl="https://media.pitchfork.com/photos/6380d57ec812d325397e620e/16:9/w_1280,c_limit/Phoebe-Bridgers.jpg"
      cardInfo=" April 9, 2020"
      cardTitle="Punisher"
    ></app-secondary-card>

  </div>
</div>
