<div class="secondary-card-container">
  <div class="secondary-card-content-container">
    <div class="secondary-card-image">
      <img
        src="{{photoUrl}}"
        alt=""
        height="250px"
      />
    </div>
    <div class="secondary-card-text">
      <div class="secondary-card-info">
        <span>{{cardInfo}}</span>
      </div>
      <div class="secondary-card-title">
        <h2><a href="#">{{cardTitle}}</a></h2>
      </div>
    </div>
  </div>
  <div class="secondary-card-break">
    <hr/>
  </div>
</div>
